 {{#each model as |author|}}
	{{#link-to 'auth.detail-author' author.id}}
		<div class="col s12">
		    <div class="card-panel grey lighten-5 z-depth-1">
		      <div class="row valign-wrapper">
		        <div class="col s2">
		          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvR0y-fGa6vQOW2Mc2w-xLUz25qDoy-Oe1gbWXlhpaVeuMlfzDfQ" class="circle responsive-img" class="circle responsive-img"> <!-- notice the "circle" class -->
		        </div>
		        <div class="col s8">
		          <span class="black-text">
		            	{{author.fullName}}
		          </span>
		          <br>
		          <span class="grey-text">
		          		{{author.nickname}}
		          </span>
		        </div>
		        <div class="col s2">
		        	<img src="https://image.flaticon.com/icons/png/128/483/483345.png" class="responsive-img" width="80%">
		        </div>
		      </div>
		    </div>
		</div>
	{{/link-to}}
 {{/each}}
 <a class="btn-floating btn-large waves-effect waves-light" {{action 'addAuthor' on='click'}}><i class="material-icons">+</i></a>

