<div class="main-content">
	{{#each model as |book|}}
		{{#link-to 'detail' book.id}}

		<div class="content">

			<div class="content-img">
					<img src={{book.imgUrl}}>
			</div>

			<div class="content-data">
				<div class="title-book">
					<p> 
						<a href="#">
							{{#link-to 'detail' book.id}}
								{{book.title}}
							{{/link-to}}
						</a>
					</p>
				</div>
				<div class="author-book">
					<p>
						<a href="#">
							{{#link-to 'detail' book.id}}
							{{book.author.fullName}}
							{{/link-to}}
						</a> 
					</p>
				</div>
			</div>
			<div class="book-more">
					<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/384289-200.png" alt="">
				</div>
		</div>
		{{/link-to}}

	{{/each}}
</div>

<button class="btn" {{action 'createBook'  on='click'}}>+</button>